<main class="main">
  <nav class="navbar navbar-light bg-light justify-content-between">
    <div class="container">
      <a class="navbar-brand">Note App</a>
    </div>
  </nav>
  <div class="container mt-5">
    <form [formGroup]="form" (ngSubmit)="createNote()" class="card mb-5">
      <div class="card-body">
        <h5 class="card-title">Create new Note</h5>
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" formControlName="title" id="title">
          <small *ngIf="showValidationError('title')" class="text-danger text-sm">
            {{ showValidationError('title') }}
          </small>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" formControlName="description" id="description">
          <small *ngIf="showValidationError('description')" class="text-danger text-sm">
            {{ showValidationError('description') }}
          </small>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
      </div>
    </form>
    <div class="row">
      <div *ngFor="let note of notes" class="col-sm-6 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ note.title }}</h5>
            <p class="card-text">{{ note.description }}</p>
            <button class="btn btn-danger btn-sm" (click)="deleteNote(note.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<router-outlet />